{% extends "layout.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    written on {{ post.pub_date.strftime("%b %d, %Y") }}
  </p>
  {{ post.body }}
  {{ tags(post) }}

<div class="pagination">
  {% if prev %}<a href="{{ prev.url }}">&lt;&lt; {{ prev.title|truncate(20,end='...') }}</a>{% endif %}
  {% if next %}{% if prev %}— {% endif %}<a href="{{ next.url }}">{{ next.title|truncate(20,end='...') }} &gt;&gt;</a>{% endif %}
</div>
{% endblock %}
