<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  {% block htmlhead %}
    <title>{% block title %}Home{% endblock %} | {{ config['SITE_NAME'] }}</title>
    {% for stylesheet in config['STYLESHEETS'] %}
    <link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
    {% endfor %}
  {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/">{{ config['SITE_NAME'] }}</a>
      </div>
      <div class="navigation">
        <ul>
          {% for link, name in navigation %}
          <li><a href="{{ link }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="body">
      {% block body %}{% endblock %}
      </div>
      <div class="footer">
        <p>&copy; Copyright {{ date.today().strftime("%Y") }} by {{ config['AUTHOR_NAME'] }}</p>
      </div>
    </div>
  </body>
</html>